.drop-down{
    animation : drop-down 0.5s forwards;
}

.come-back{
    animation : come-back 200ms forwards;
}
@keyframes come-back{
    from{
        max-height:500px;
    }
    to{
        max-height: 0px;
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes drop-down{
    from{
        max-height:0px;
        opacity:0;
    }
    to{
        max-height: 500px;
        opacity: 1;
    }
}