/* Target all scrollbars */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    border-radius: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #141414; /* Color of the scrollbar track */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3F3F3F; /* Color of the scrollbar handle */
    border-radius: 15px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(74, 73, 73)F3F; /* Color of the scrollbar handle on hover */
  }
  
  *{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.fade-out{
  animation : fadeOut ease-in-out 500ms forwards;
}
.fade-in{
  animation : fadeIn ease-in-out 500ms forwards;
}

@keyframes fadeOut {
  from { 
    opacity: 1;
  }
  to { 
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
     opacity: 0;
    }
  to { 
    opacity: 1;
  }
}

